@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Questions</h1>
    <div class="custom-vstack" data-bind="foreach: questions">
        <div class="custom-hstack">
            <span data-bind="text: Text, attr: { title: Hint }"></span>
            <button data-bind="click: toggleAnswer">Show Answer</button>
        </div>
        <div class="custom-hstack" data-bind="if: showAnswer">
            <span data-bind="text: Answer"></span>
        </div>
    </div>
    
</div>

@section pagescripts {
    <script src="~/js/viewModels/question.js"></script>
}