@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Questions</h1>
    <div class="custom-vstack" data-bind="foreach: questions">
        <div class="custom-hstack">
            <span data-bind="text: Text"></span>
        </div>
    </div>
    
</div>

@section pagescripts {
    <script src="~/js/viewModels/question.js"></script>
}